<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @open_space.title %>
</p>

<p>
  <b>Location:</b>
  <%= @open_space.location %>
</p>

<p>
  <b>Starts on:</b>
  <%= @open_space.start%>
</p>

<p>
  <b>Ends on:</b>
  <%= @open_space.end%>
</p>

