<% content_for :head do %>
  <%= javascript_include_tag 'open_spaces.js' %>
<% end -%>
<ul class="pmenu">
  <li><b>Title</b>: <%= @open_space.title -%></li>
  <li><b>Location</b>: <%= @open_space.location -%></li>
  <li><b>Start</b>: <%= l @open_space.start, :format => :date -%></li>
  <li><b>End</b>: <%= l @open_space.end, :format => :date -%></li>
</ul>

<div id="trackmenu">
  <button data-url-newtrack="<%= new_open_space_track_url(@open_space) %>">Add Track</button>
</div>
<div id="tabs">
  <ul id="daytabs">
    <% @open_space.each_day do |day| %>
      <% daystr = day.strftime("%Y-%d-%m") %>
      <%= content_tag("li", link_to(day.strftime("%A"), "#day_#{daystr}"))%>
    <% end -%>
  </ul>
    <% @open_space.each_day do |day| %>
      <% daystr = day.strftime("%Y-%d-%m") %>
      <div id="day_<%= daystr %>">
        <h2>Tracks:</h2>
        <% @open_space.tracks.each do |track| %>
          <div id="track_<%= track.id %>" class="tracks" data-track-id="<%= track.id %>" data-day="<%= day.strftime("%Y-%m-%d") %>" data-os-id="<%= @openspace.id %>">
            <h2><%= track.title %></h2>

          </div>
        <% end -%>
      </div>
    <% end -%>
</div>
<div id="dialog"></div>
