<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @track.name %>
</p>

<p>
  <b>Location:</b>
  <%= @track.location %>
</p>

<p>
  <b>Position:</b>
  <%= @track.position %>
</p>


<%= link_to 'Edit', edit_track_path(@track) %> |
<%= link_to 'Back', tracks_path %>
