<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Title      : StandardIssue
Version    : 1.0
Released   : 20070723
Description: A two-column, fixed-width and lightweight template ideal for 1024x768 resolutions. Suitable for blogs and small websites.

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>OpenSpace Board</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/stylesheets/default.css" rel="stylesheet" type="text/css" />
<link href="/stylesheets/fullcalendar.css" rel="stylesheet" type="text/css" />
<%= stylesheet_link_tag 'custom-theme/jquery-ui-1.8.7.custom.css' %>
<%= stylesheet_link_tag 'extras.css' %>
<%= javascript_include_tag 'date.format.js' %>
<%= javascript_include_tag 'jquery.js' %>
<%= javascript_include_tag 'jquery-ui.js' %>
<%= javascript_include_tag 'rails.js' %>
<%= javascript_include_tag 'fullcalendar.js' %>
<%= javascript_include_tag 'jquery.qtip-1.0.0-rc3.min.js' %>
<%= javascript_include_tag 'application.js' %>
<%= yield(:head) %>
</head>
<body>
<!-- start header -->
<div id="header">
	<div id="logo">
		<h1><a href="/">OpenSpace Board</a></h1>
    <h2><a href="http://www.dieprojektur.com/">By Die Projektur GmbH</a></h2>
	</div>
	<div id="menu"><%= render_or_default('menu') %></div>
</div>
<!-- end header -->
<!-- start page -->
<div id="page">
	<!-- start content -->
	<div id="content"><%= yield %></div>
	<!-- end content -->
	<!-- start sidebar -->
  <div id="sidebar"><%= render_or_default('sidebar') %></div>
	<!-- end sidebar -->
	<div style="clear: both;">&nbsp;</div>
</div>
<!-- end page -->
<!-- start footer -->
<div id="footer">
	<div class="wrap">
		<div id="fbox1" class="box2">
      <h2><%= link_to 'Die Projektur', 'http://dieprojektur.com/'  %></h2>
    </div>
		<div id="fbox2" class="box2">
      <h2><%= link_to 'Go Agile ~ Go Scrum', 'http://www.scrum.cc/'  %></h2>
		</div>
		<div id="fbox3" class="box2">
			<h2><b>Metus</b> Nonummy</h2>
		</div>
	</div>
	<p id="legal">(c) 2010 dieprojektur GmbH. Design by <a href="http://www.nodethirtythree.com/">NodeThirtyThree</a> and <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.</p>
</div>
<!-- end footer -->
</body>
</html>
